In [1]:
def square_fun(n):
    ans = n*n
    return[ans]

In [2]:
square_fun(2)

[4]

In [3]:
def square_fun(n):
    ans = n*n
    return ans

In [4]:
square_fun(2)

4

In [4]:
def CollectData():
    data = []
    for i in range(5):
        entry = int(input("please provide numbers"))
        data.append(entry)
    return data

print(CollectData())

please provide numbers 2
please provide numbers 3
please provide numbers 4
please provide numbers 5
please provide numbers 6

[2, 3, 4, 5, 6]

In [1]:
# main.py
import math_utils

result = math_utils.add(5, 3)
print(result)  # Output: 8

ModuleNotFoundError: No module named 'math_utils'

In [4]:
def details(Name, Age, Address):
    print('Name', Name)
    print('Age', Age)
    print('Address', Address)

details('Sam', 43, 'Gyandeep')

Name Sam
Age 43
Address Gyandeep

In [5]:
def details(Name, Age, Address):
    print('Name', Name)
    print('Age', Age)
    print('Address', Address)

details('Sam', 43, 'Gyandeep')

Name Sam
Age 43
Address Gyandeep

In [6]:
def find_square(n):
    n = n*n
    return n

find_square(3)

9

In [8]:
def odd_even(n):
    if n%2==0:
        print('The number ',n,'is EVEN')
    if n%3==0:
        print('The number ',n,'is ODD')

odd_even(10)

The number  10 is EVEN

In [10]:
def full_name(first, second, third):
    name = "{} {} {}".format(first, second, third)
    print(name)

full_name('Sam', 'Bahadur', 'Singh')

Sam Bahadur Singh

In [14]:
def myfunc(city = 'Mumbai'):
    print('Famous city :', city)

myfunc('Delhi')

Famous city : Delhi

In [15]:
# done till 62/118

In [1]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.find('s'))

9

In [6]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.replace())

In 2010, someone paid 10k Bitcoin for two pizzas.

In [8]:
my_string = "In %s, someone paid %s %s for two pizzas."

print("In %s, someone paid %s %s for two pizzas."%(2010,'10k','Bitcoin '))

In 2010, someone paid 10k Bitcoin  for two pizzas.

In [10]:
my_string = "In %s, someone paid %s %s for two pizzas."

print("In %s, someone paid %s %s for two pizzas."%("2010","10k","Bitcoin"))

In 2010, someone paid 10k Bitcoin for two pizzas.

In [13]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[3:7])

2010

In [14]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[::-1])

.sazzip owt rof nioctiB k01 diap enoemos ,0102 nI

In [15]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
 
print(my_string[::7])

I,n top